---
layout: archive
title: "The ASPECT Geodynamics Lab"
permalink: /group/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner4.png
  actions:
excerpt: "I enjoy working collaboratively, and the members of my research group all explore different aspects of the dynamics of the Earth."

feature_row1:
  - image_path: kiran.jpg
    alt: "Kiran Chotalia"
    title: "Kiran Chotalia"
    excerpt: "**Postdoctoral Research Associate** <br/> **(June 2020 - present)** <br/> <br/>
    I’m a geodynamicist using ASPECT to understand mixing in the lower mantle. 
    The picture on the left shows me at AGU 2018 presenting some of my PhD work.
    Find out more about me [here](https://kchotalia.github.io/)."
    url: "https://kchotalia.github.io/"

feature_row2:
  - image_path: arushi.jpg
    alt: "Arushi Saxena"
    title: "Arushi Saxena"
    excerpt: "**Postdoctoral Research Associate** <br/> **(June 2020 - present)** <br/> <br/>
    My research focuses on setting up present-day global mantle numerical models based on physical parameters 
    inferred from seismic tomography, faults database, and plate motion.
    Find out more about me [here](https://alarshi.github.io/)."
    url: "https://alarshi.github.io/"
    
feature_row4:
  - image_path: Ranpeng_Li.png
    alt: "Ranpeng Li"
    title: "Ranpeng Li"
    excerpt: "**PhD Student** <br/> **(August 2021 - present)** <br/> <br/>
    I am studying the influence of phase transitions on mantle plumes and convection. 
    My interest also includes incorporating petrological and geochemical data into modelling."

---
<h1>Current members of my research group</h1>
<br/>

{% include base_path %}

{% include feature_row id="feature_row1" type="left" %}
{% include feature_row id="feature_row2" type="left" %}
{% include feature_row id="feature_row4" type="left" %}

