---
layout: archive
title: "The Computational Geodynamics Group"
permalink: /group/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner4.png
  actions:
excerpt: "I enjoy working collaboratively, and the members of my research group all explore different aspects of the dynamics of the Earth."

feature_row1:
  - title: "Kiran Chotalia"
    excerpt: "**Postdoctoral Research Associate** <br/> **(2020&ndash;2022)** <br/> <br/>
    [website](https://kchotalia.github.io/)."
    url: "https://kchotalia.github.io/"

feature_row2:
  - title: "Arushi Saxena"
    excerpt: "**Postdoctoral Research Associate** <br/> **(2020&ndash;2023)** <br/> <br/>
    [website](https://alarshi.github.io/)."
    url: "https://alarshi.github.io/"
    
feature_row3:
  - image_path: Ranpeng_Li.png
    alt: "Ranpeng Li"
    title: "Ranpeng Li"
    excerpt: "**PhD Student** <br/> **(May 2024&ndash;present)** <br/>
    Master Student 2021&ndash;2024 <br/> <br/>
    I am studying the influence of phase transitions on mantle plumes and convection. 
    My interest also includes incorporating petrological and geochemical data into modelling. <br/>
    [website](https://ranpengli.github.io/)"
    url: "https://ranpengli.github.io/"
    
feature_row4:
  - title: "Martina Monaco"
    excerpt: "**PhD Student** <br/> **(2021&ndash;2024)** <br/> <br/>"

---
<h1>Current members of my research group</h1>
<br/>

{% include base_path %}

{% include feature_row id="feature_row3" type="left" %}

<h1>Past members of my research group</h1>
<br/>

<h3>Kiran Chotalia</h3>
Postdoctoral Research Associate (2020&ndash;2022) <br/>
<a href="https://kchotalia.github.io/">website</a>


<h3>Arushi Saxena</h3>
Postdoctoral Research Associate (2020&ndash;2023) <br/>
<a href="https://alarshi.github.io/">website</a>

<h3>Menno Fraters</h3>
Postdoctoral Research Associate (2023&ndash;2024) <br/>
<a href="https://www.mfraters.net/">website</a>


<h3>Martina Monaco</h3>
PhD Student (2021&ndash;2024)



