---
layout: splash
title: "Model Gallery"
permalink: /model-gallery/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner.png
  actions:
    - label: "Download"
      url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "I use the ASPECT geodynamics modeling code to create numerical models for my reserach. Below are some links to animations of these models."
feature_row:
  - image_path: gallery/thermo_chemical_plume.jpg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: gallery/shear_bands.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: gallery/jellyfish.png
    title: "2d convection model with a jellyfish"
    excerpt: "The model is heated from the bottom and cooled from the top. The aqua region in form of a jellyfish has a higher viscosity and deforms less than the surrounding material. The background shows the adaptively changing mesh and the temperature in a blue-red colorscale."
    url: "https://www.youtube.com/watch?v=YzNTubNG83Q"
    btn_label: "Youtube"
    btn_class: "btn--primary"
  - image_path: gallery/plume_with_melt.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Youtube"
    btn_class: "btn--primary"
---

{% include feature_row %}

{% include base_path %}

