---
layout: splash
title: "Model Gallery"
permalink: /model-gallery/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner.png
  actions:
    - label: "Download"
      url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "I use the [ASPECT](https://aspect.geodynamics.org) geodynamics modeling code to create numerical models for my research. Below are some links to animations of these models."
feature_row:
  - image_path: gallery/thermo_chemical_plume.jpg
    alt: "thermochemical plumes"
    title: "Thermo-chemical plume"
    excerpt: "Thermo-chemical plume rising from the core-mantle boundary and interacting with an overlying, moving plate. The movie shows the isosurface of the chemical composition (here, the fraction of recycled oceanic crust)."
    url: "https://www.youtube.com/watch?v=dG-ULmcBr1E"

  - image_path: gallery/shear_bands.jpg
    alt: "shear bands 3d"
    title: "Melt shear bands in 3D"
    excerpt: "Development of shear bands in a partially molten rock. The applied shear causes the porosity to localize in melt-rich bands. Isosurfaces illustrate the melt fraction."
    url: "https://www.youtube.com/watch?v=zOEqhaiBswU"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: gallery/jellyfish.png
    title: "Convection of a jellyfish"
    excerpt: "2d convection model that is heated from the bottom and cooled from the top. The aqua region in form of a jellyfish has a higher viscosity and deforms less than the surrounding material. The background shows the adaptively changing mesh and the temperature in a blue-red colorscale."
    url: "https://www.youtube.com/watch?v=YzNTubNG83Q"
    btn_label: "Youtube"
    btn_class: "btn--primary"

  - image_path: gallery/plume_with_melt.jpg
    alt: "plume with melt"
    title: "Melt generation in a rising mantle plume"
    excerpt: "Visualization of the ascent of a mantle plume, and melt generation and migration within the plume as it spreads below the lithosphere. Melt accumulates at the top of the plume head, and rises in diapirs as the plume approaches the lithosphere."
    url: "https://www.youtube.com/watch?v=aWndYbMIjVQ"
    btn_label: "Youtube"
    btn_class: "btn--primary"

  - image_path: gallery/convection_with_melt.jpg
    alt: "convection with melt"
    title: "Global mantle convection coupled to melt migration,"
    excerpt: "Model of global mantle convection coupled to melting and melt migration. The upper part shows a model without melt migration, where the melt fraction is computed from the pressure and temperature conditions and does not actively influence convection of the solid. The lower part shows a model where melt migration and density differences due to melting are included."
    url: "https://www.youtube.com/watch?v=Kwyp4Jvx6MU"
    btn_label: "Youtube"
    btn_class: "btn--primary"

  - image_path: gallery/compressible_convection.jpg
    alt: "compressible convection"
    title: "Compressible convection model"
    excerpt: "Compressible 2d spherical convection model heated from the bottom and cooled from the top. The left panel shows the temperature, the right panel shows the viscosity."
    url: "https://www.youtube.com/watch?v=nRBOpw5kp-4"
    btn_label: "Youtube"
    btn_class: "btn--primary"
---

{% include feature_row %}

{% include base_path %}

