---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner_research.png
excerpt: "I am a geodynamicist, and I develop mathematical and computational models of the Earth's interior that can help us understand how the Earth's surface has evolved. Below, I list some of my current and past research projects."

feature_row1:
  - image_path: plume.png
    alt: "mantle plumes"
    title: "Mantle Plumes"
    excerpt: "The Earth's biggest magmatic events are believed to originate from massive melting when hot
    mantle plumes rising from the lowermost mantle approach the surface. The associated volcanic
    eruptions are thought to be related to environmental catastrophes and mass extinction events.
    After this first pulse of magmatic activity, plume conduits can remain stable in the mantle for
    hundreds of millions of years, generating hotspot volcanism.<br/>
    I am interested in the effect of the chemical heterogeneity of the Earth's mantle on plume dynamics, 
    the interplay between subducted slabs, chemical reservoirs in the deep mantle and rising plumes, 
    and how these processes influence hot spot volcanism observed at the Earth's surface.<br/>
    <br/>
    &#8592; The image shows a model of a mantle plume, computed with the [ASPECT](https://aspect.geodynamics.org) code."

feature_row2:
  - image_path: ridge.png
    alt: "magma dynamics"
    title: "Magma Dynamics"
    excerpt: "I am interested in where magma forms in the Earth, how it moves to the surface, 
    and the role it plays in the break-up of continents.
    Using the modeling code [ASPECT](https://aspect.geodynamics.org), 
    I have developed a solver for the porous flow of magma through a deforming solid rock, 
    which controls many Earth system processes.<br/>
    <br/>
    &#8592; The image shows a model of a mid-ocean ridge, with the red&ndash;yellow&ndash;white streamlines
    illustrating the flow of magma."

feature_row3:
  - image_path: FRES.png
    alt: "integrated models"
    title: "Integrated Geodynamic Earth Models"
    excerpt: "Im am part of a group of researchers working on the 
    [Development and Application of a Framework for Integrated Geodynamic Earth Models](https://integrated-earth.github.io/). 
    Our goal is to create three-dimensional, integrated geodynamic reference models for the Earth above the core-mantle boundary, 
    that can then be used for the accurate forward simulation of the Earth state on time scales of millions of years.
    Constraining the Earth's present-day state heavily relies on seismic observations, and 
    I am particularly interested in how we can use our knowledge about the Earth's variable mineral grain size to infer the 
    temperature distribution in the Earth's interior from these observations."
    url: "https://integrated-earth.github.io/"

feature_row4:
  - image_path: projects.png
    alt: "other projects"
    title: "Other Projects"
    excerpt: "I work on a wide range of topics that can be addressed with geodynamic modeling techniques, 
    using the [ASPECT](https://aspect.geodynamics.org) software. 
    This inlcudes: Numerical methods for magma/mantle dynamics and mantle compressiblity, 
    the formation of melt bands in partially molten rocks, 
    the role of mineral grain size in mantle dynamics,
    accurately modeling mantle phase transitions,
    the thermodiffusion of iron isotopes at the core-mantle boundary, 
    and how global mantle flow and subducting slabs influence the locations of mantle plumes."
---

{% include base_path %}

{% include feature_row id="feature_row1" type="left" %}
{% include feature_row id="feature_row2" type="left" %}
{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}

I wrote my <a href="https://publishup.uni-potsdam.de/opus4-ubp/frontdoor/index/index/docId/9102">PhD Thesis</a>
on the Dynamics of Mantle Plumes: Linking Scales and Coupling Physics. 
