---
layout: splash
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner_talks.png
  actions:
    - label: "Download"
excerpt: "Below is a list of research talks, outreach talks and tutorials I have presented.<br><br>"
feature_row:
  - image_path: gallery/uky_seminar.png
    alt: "tutorial1"
    title: "Dynamics, evolution and seismic visibility of melting zones in the lowermost mantle: Implications for the origin of ultra-low velocity zones"
    excerpt: "University of Kentucky Geophysics and Tectonics Seminar (2020)"
    url: "https://www.youtube.com/watch?v=kVwsQ3z3AyE&feature=emb_logo"

  - image_path: gallery/aspect_tutorial_part1.png
    alt: "tutorial1"
    title: "ASPECT Magma dynamics tutorial (Part 1)"
    excerpt: "Part of the CIG 2020 Tectonics Modeling Tutorial (Day 4 - Part 2), for the full tutorial, see [this playlist](https://www.youtube.com/playlist?list=PLdy04DoEepEyeS_HZwa0Ws0kW5Rs2wsQ6)"
    url: "https://www.youtube.com/watch?v=yDaQ0Kw9pRE&list=PLdy04DoEepEyeS_HZwa0Ws0kW5Rs2wsQ6&index=11"

  - image_path: gallery/aspect_tutorial_part2.png
    alt: "tutorial2"
    title: "ASPECT Magma dynamics tutorial (Part 2)"
    excerpt: "Part of the CIG 2020 Tectonics Modeling Tutorial (Day 4 - Part 3), for the full tutorial, see [this playlist](https://www.youtube.com/playlist?list=PLdy04DoEepEyeS_HZwa0Ws0kW5Rs2wsQ6)"
    url: "https://www.youtube.com/watch?v=71I7LUJnHPo&list=PLdy04DoEepEyeS_HZwa0Ws0kW5Rs2wsQ6&index=12"

  - image_path: gallery/cig_aspect2_webinar.png
    alt: "webinar2"
    title: "ASPECT 2.0: Improved architecture, new features"
    excerpt: "CIG webinar, with Rene Gassmoeller and John Naliboff (2018)"
    url: "https://www.youtube.com/watch?v=5lfZDGMlPY4"

  - image_path: gallery/upgoer_five.png
    alt: "upgoer5"
    title: "Why Are the Pieces of Land in the Wide Water that Breathe out Fire and Smoke Made of Different Types of Rocks?"
    excerpt: "Up-Goer Five Challenge at the AGU Fall Meeting 2018"
    url: "https://www.youtube.com/watch?v=SAxO2nzhvZ0&t=17s"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: gallery/schule_mit_wissenschaft.png
    title: "Ein Blick ins Innere der Erde &ndash; Wie Gesteinsbewegungen unseren Planeten formen"
    excerpt: "Schule mit Wissenschaft Thueringen (School MIT Science, a workshop for high-school teachers, in German), 2018 "
    url: "https://www.youtube.com/watch?v=Rh2yn5sxMeM&feature=youtu.be"
    btn_label: "Youtube"
    btn_class: "btn--primary"

  - image_path: gallery/melt_in_the_mantle.jpg
    alt: "melt in the mantle"
    title: "3D Numerical Modelling of Compressible Coupled Magma/Mantle Dynamics With Adaptive Mesh Refinement"
    excerpt: "Melt in the mantle programme (with T. Heister), 2016"
    url: "https://sms.cam.ac.uk/media/2263113"
    btn_label: "Video"
    btn_class: "btn--primary"

  - image_path: gallery/aspect_webinar.png
    alt: "aspect webinar"
    title: "Geodynamic modeling of eclogite-bearing mantle plumes using ASPECT"
    excerpt: "CIG webinar, with the ASPECT team (2014)"
    url: "https://www.youtube.com/watch?v=riJEMIFw3s8"
    btn_label: "Youtube"
    btn_class: "btn--primary"
---

{% include feature_row %}

{% include base_path %}

